body {
    margin: 0;
    padding: 0%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
    color: #4B5D68;
    text-transform: none;

    background-color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: white;
}


.header-navigation a {
    font-size: 15px;
    line-height: 18px;

    color: #4F4F4F;
}

.header-navigation img{
    margin-left: 75px;
    margin-top: 19px;
    width: 209px;
    height: 42px;
    font-size: initial;
    line-height: initial;
}

.navigation-list li,
.navigation-list {
    display: inline;
    padding-top: 29px;
}

.navigation-list li:first-child {
    margin-left: 218px;
}
.navigation-list li{
    margin-right: 34px;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;


    color: #212353;
}

.navigation-login {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;


    color: #FFFFFF;
}

.navigation-registration {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #675ADF;
}

.main-rates h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;


    color: #212353;
}

.rates-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #414141;
}

.rates-item:first-child {
    background: #7854F7;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;


    color: #FFFFFF;
}

.rates-price {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;

    color: #414141;
}

.rates-free  {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;

    color: #FFFFFF;
}

.rates-startnow {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.rates-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #7463EB;
}

.rates-description-free {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;

    list-style-image: url("../img/checkmarkwhite.svg");
}

.rates-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #6B7280;

    list-style-image: url("../img/checkmarkgreen.svg");
}

.rates-economy {
    color: #68BB07;
}

.rates-oldPrice {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: line-through;

    color: #6B7280;
}

.rates-monthGift {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;


    color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #9CA8BE;

}

.button {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    text-align: center;
    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.userAgreement {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #4B5E80;
}

.userAgreement-link {
    color: #7D6CF4;
}


.footer-navigation a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #56688A;
}

.contacts-first-telephone {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.contacts-second-telephone,
.contacts-email {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.registry-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #8495AD;
}

.footer-copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    align-items: center;
    text-align: right;
}

.icon {
    width: 34px;
    height: 34px;
}